tr td:first-of-type {
    padding-right: 1em;
}

.btn {
    background: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.dcp-heading {
    margin: 0.5em 0 0.3em 0;
}

.dcp-intro {
    margin-bottom: 2.5em;
}

.dcp-section {
    padding-bottom: 0.5em;
}

.nav-link {
    cursor: pointer;
}

.nav-link.active {
    cursor: default;
}

.tab-view {
    padding: 1em 0.5em;
}

.tab-view.hidden {
    display: none;
}

#json-file-language-selection,
#form-configuration-language-selection,
#form-configuration-mapper,
#java-properties-file-language-selection,
#java-properties-file-mapper {
    visibility: hidden;
    height: 0;
}

#json-file-language-selection.show,
#form-configuration-language-selection.show,
#form-configuration-mapper.show,
#java-properties-file-language-selection.show,
#java-properties-file-mapper.show {
    visibility: visible;
    height: auto;
}

#angular-translation-excel-error,
#angular-translation-json-error,
#form-configuration-excel-error,
#form-configuration-json-error,
#form-configuration-language-selection-error,
#java-properties-excel-error,
#java-properties-file-error,
#java-properties-file-language-selection-error {
    color: red;
    display: none;
}

#excel-to-form-configuration-submit-button {
    display: block;
    margin-top: 0.8em;
}