body {}

p {
    margin-bottom: 2.5em;
}

.btn {
    background: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.dcp-heading {
    margin: 0.5em 0 0.3em 0;
}

.nav-link {
    cursor: pointer;
}

.nav-link.active {
    cursor: default;
}

.tab-view {
    padding: 1em 0.5em;
}

.tab-view.hidden {
    display: none;
}

#language-selection {
    visibility: hidden;
    height: 0;
}

#language-selection.show {
    visibility: visible;
    height: auto;
}
