body {}

p {
    margin-bottom: 1.5em;
}

tr td:first-of-type {
    padding-right: 1em;
}

.btn {
    background: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.dcp-heading {
    margin: 0.5em 0 0.3em 0;
}

.dcp-intro {
    margin-bottom: 2.5em;
}

.nav-link {
    cursor: pointer;
}

.nav-link.active {
    cursor: default;
}

.tab-view {
    padding: 1em 0.5em;
}

.tab-view.hidden {
    display: none;
}

#language-selection {
    visibility: hidden;
    height: 0;
}

#language-selection.show {
    visibility: visible;
    height: auto;
}

#angular-translation-excel-error,
#angular-translation-json-error,
#form-configuration-excel-error,
#form-configuration-json-error,
#java-property-excel-error,
#java-property-file-error {
    color: red;
    display: none;
    padding-top: 0.5em;
}

#excel-to-form-configuration-submit-button {
    display: block;
    margin-top: 0.8em;
}